<style>

div.fa-appIcons {
    font-size:.6em;
    font-family: sans-serif;
    width:5.5em;
    margin:10px 5px 0 0;
    text-align:center;
    color:#b0c0d0;
}

 a.fa-linkNoUL:link,  a.fa-linkNoUL:visited {
    text-decoration:none !important;
    color:#b0c0d0 !important;
}

a.fa-linkNoUL:hover,  a.fa-linkNoUL:active {
    color:#6cab89 !important;
}

.fa-2x {
  padding-bottom: 5px;
}

.widgetQuickLinks {
    background-color:#f9f7f3;
    margin-top: 10px;
    padding:.9em;
    font-family:sans-serif;
    font-size:.9em;
}

</style>
